body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

article img {
  display: block;
}

.box-shadow {
  box-shadow: 5px 5px 5px grey;
}

.img-height {
  height: 70vh;
}

.color-first-letter::first-letter {
  color: #3399ff;
  font-size: 50px;
}

.text-shadow {
  text-shadow: 2px 2px 5px grey;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  padding: 10px;
}

.bg-azulMarino {
  background: rgba(37, 36, 64, 0.6);
}

.bg-white {
  background: white;
}
